{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><a href="/todo/?orderby=id&order={{ order }}">Id</a></th>
                <th><a href="/todo/?orderby=name&order={{ order }}">Nom</a></th>
                <th>Description</th>
                <th>Actions</th>
                <th>Effectuer ?</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}">show</a>
                    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">edit</a>
                </td>
                <td><input type="checkbox"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_todo_new') }}">Create new</a>
{% endblock %}
